{% set _svg = '
         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
            <path d="M8.10519e-08 2.57812L3.07438e-08 6.79688C1.37914e-08 8.21848 1.15652 9.375 2.57812 9.375L6.79688 9.375C8.21848 9.375 9.375 8.21848 9.375 6.79688L9.375 2.57813C9.375 1.15652 8.21848 9.80043e-08 6.79688 8.10519e-08L2.57813 3.07438e-08C1.15652 1.37914e-08 9.80043e-08 1.15652 8.10519e-08 2.57812ZM6.79688 1.25C7.14203 1.25 7.42188 1.5298 7.42188 1.875C7.42188 2.2202 7.14203 2.5 6.79688 2.5L2.57813 2.5C2.53504 2.5 2.5 2.53504 2.5 2.57813C2.5 2.92332 2.22016 3.20313 1.875 3.20313C1.52984 3.20313 1.25 2.92332 1.25 2.57813C1.25 1.84578 1.84578 1.25 2.57813 1.25L6.79688 1.25Z" fill="#253334"/>
            <path d="M8.10519e-08 13.2031L3.07438e-08 17.4219C1.37914e-08 18.8435 1.15652 20 2.57812 20L6.79688 20C8.21848 20 9.375 18.8435 9.375 17.4219L9.375 13.2031C9.375 11.7815 8.21848 10.625 6.79688 10.625L2.57813 10.625C1.15652 10.625 9.80043e-08 11.7815 8.10519e-08 13.2031ZM6.79688 11.875C7.14203 11.875 7.42188 12.1548 7.42188 12.5C7.42188 12.8452 7.14203 13.125 6.79688 13.125L2.57813 13.125C2.53504 13.125 2.5 13.16 2.5 13.2031C2.5 13.5483 2.22016 13.8281 1.875 13.8281C1.52984 13.8281 1.25 13.5483 1.25 13.2031C1.25 12.4708 1.84578 11.875 2.57813 11.875L6.79688 11.875Z" fill="#253334"/>
            <path d="M10.625 13.2031L10.625 17.4219C10.625 18.8435 11.7815 20 13.2031 20L17.4219 20C18.8435 20 20 18.8435 20 17.4219L20 13.2031C20 11.7815 18.8435 10.625 17.4219 10.625L13.2031 10.625C11.7815 10.625 10.625 11.7815 10.625 13.2031ZM17.4219 11.875C17.767 11.875 18.0469 12.1548 18.0469 12.5C18.0469 12.8452 17.767 13.125 17.4219 13.125L13.2031 13.125C13.16 13.125 13.125 13.16 13.125 13.2031C13.125 13.5483 12.8452 13.8281 12.5 13.8281C12.1548 13.8281 11.875 13.5483 11.875 13.2031C11.875 12.4708 12.4708 11.875 13.2031 11.875L17.4219 11.875Z" fill="#253334"/>
            <path d="M10.625 4.6875C10.625 7.27219 12.7278 9.375 15.3125 9.375C17.8972 9.375 20 7.27219 20 4.6875C20 2.10281 17.8972 8.672e-08 15.3125 5.58979e-08C12.7278 2.50758e-08 10.625 2.10281 10.625 4.6875ZM16.7945 1.44C17.0219 1.54606 17.1555 1.77145 17.1555 2.00688C17.1555 2.09531 17.1367 2.18512 17.0968 2.27059C16.9509 2.58344 16.5791 2.71879 16.2662 2.57289C15.7367 2.32594 15.1427 2.3 14.5936 2.49984C14.0446 2.69969 13.6062 3.10137 13.3593 3.63094C13.2134 3.94379 12.8415 4.07914 12.5287 3.93324C12.2158 3.78738 12.0804 3.41559 12.2264 3.10266C12.6144 2.27047 13.3033 1.63922 14.1661 1.3252C15.0289 1.01121 15.9624 1.05199 16.7945 1.44Z" fill="#253334"/>
        </g>
        <defs>
            <clipPath id="clip0">
                <rect width="20" height="20" fill="white" transform="translate(0 20) rotate(-90)"/>
            </clipPath>
        </defs>
    </svg>
' %}

<button class="menu__button {{ classes }}">
    {% if not svg %}
        {{ _svg }}
    {% else %}
        {{ svg }}
    {% endif %}
</button>
