<% block('title', 'Home ≥︺‿︺≤') %>
<% layout('../layout/index') -%>

<div class="home__wrapper">
    <div class="home__texts">
        <div class="home__title">
            Адамец Владислав
            <div class="home__suptitle">Full-stack разработчик</div>
        </div>

        <div class="home__descr">
            Разработчик современных сайтов, пользовательских интерфейсов,
            систем управления контентом, CRM, Веб - сервисов
        </div>
        <div class="home__descr">
            Web - дизайнер
        </div>
        <div class="home__descr">
            Разработчик ПО, игр, игровых движков
        </div>
    </div>
    <div class="home__img">
        <img src="https://i.pinimg.com/originals/46/b3/d2/46b3d2626ecae55be2d44d37270be2a6.jpg" alt="">
    </div>
</div>
<div class="home__footer">
    <div class="home__descr home__descr_footer">
        на языках <span class="t-light">JavaScript</span> (TypeScript, Node.js, React, Angular, Vue),
        <span class="t-light">C/C++</span>, <span class="t-light">C#</span> (.NET, .NET core), <span class="t-light">GO</span>, <span class="t-light">PHP</span>, <span class="t-light">Python</span>
    </div>
    <hr class="light">
</div>
